.options {
    background-color:  #4edbde;
    color: #ffffff;
    font-size: 1.2em;
    border: none;
    padding: 10px;
    font-weight: bolder;
}

.options:hover {
    background-color: #ccfbfc;
    color: #4edbde; 
}

