.selectedInMove {
    background-color: #989ca3;
}

.selectedInMove div{
    display: none;
}

.amongPossibleSquares {
    border: 1px solid #ccfbfc;
}

.amongPossibleSquares div{
    background-color: #c3d4d9;
    width: 30%;
    height: 30%;
    border-radius: 50px;
    margin: 33%;
}

.amongPossibleSquares div:hover{
    display: none;
}
.amongPossibleCaptures {
    background-color:#c3d4d9;
}

.amongPossibleCaptures div{
    display: none;
}

.normal {
    border: none;
}

/* .normal:hover {
    opacity: .6;
} */

.normal div{
    display: none;
}

.check{
    background-color: #cf7872;
    border-radius: 50%;
}

.promotionSquare{
    width: 70px;
    height: 70px;
}

.promotionSquare:hover{
    background-color:#c3d4d9;
    border-radius: 50%;
}

.promotionContainer{
    width: 73px;
    height: 283px;
    position: absolute;
    top: 250px;
    left: 570px;
    background-color: #ccfbfc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
